apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: game-2048
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/nitaoktaviani28/argo-game-2048.git
    targetRevision: main
    path: app

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
