apiVersion: apps/v1
kind: Deployment
metadata:
  name: game-2048
spec:
  replicas: 1
  selector:
    matchLabels:
      app: game-2048
  template:
    metadata:
      labels:
        app: game-2048
    spec:
      containers:
      - name: game-2048
        image: docker.io/haechanlovelove/game-2048:1.0
        imagePullPolicy: Always
        ports:
        - containerPort: 80
